
.contPrincipal{
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: url('../imagen/Ma.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Righteous', cursive;

}

.contPrincipal__titulo{
    text-shadow: 2px 2px 4px #9ea5ab;
    text-decoration: overline;
    font-size: 30px;
    color: rgb(230, 230, 236);
    width: 50%;
    height: 50%;
    display: flex;
    padding-left: 110px;
    margin-top: 5%;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgb(9, 27, 52);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #c2c8ce;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #90959a;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #354145;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}



